* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ventanillas {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
}

.ventanilla {
    background-color: rgba(255, 128, 0, .5);
    padding: 10px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
}

@keyframes colorVentanilla {
    from {background-color: rgba(255, 128, 0, .5);}
    to {background-color: skyblue;}
  }

.ventanillaAnterior {
    
}

.ventanillaActual {
    background-color: skyblue;
    animation: colorVentanilla;
    animation-duration: 1s;
}

.ventanillaTexto {
    color: white;
    font-size: 30px;
}

.numeroTexto {
    color: black;
    font-size: 72px;
}

button {
    height: 100px;
    width: 100%;
    background-color: orange;
    border: 3px solid black;
    color: white;
    font-size: large;
}

button:hover {
    background-color: darkorange;
}

button:active {
    background-color: darkgoldenrod;
}

.nextNumber {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
}

.selectLetter, .numberOfWindows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#selectLetterInput, #numberWindowsInput {
    height: 30px;
    width: 100px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

audio {
    display: none;
}